/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif ;
}

.first {
    color: rgb(255, 255, 255);
    background-color: rgb(0,0,0);
}

.second {
    color: black;
    background-color: hsl(59, 81%, 45%);
}